<div class="footer1 d-flex justify-content-center">
    <div class="p-2">


        <span class="span"><i class="fas fa-phone-square"></i>+995995555555</span>
        <span class="span"><i class="fab fa-viber"> </i>Viber</span>
        <span class="span"><i class="fab fa-telegram-plane"></i>Telegram</span>
        <span class="span"><i class="fas fa-envelope"></i>Mail</span>
        <span class="span"><i class="fas fa-envelope"></i>Write us</span>
    </div>


</div>
<div class="footer d-flex justify-content-center">
    <div class="p-2">

        <span class="span"><i class="fab fa-youtube-square"></i></span>
        <span class="span"><i class="fab fa-instagram-square"></i></span>
        <span class="span"><i class="fab fa-facebook-square"></i></span>


    </div>


</div>
<div class="footer d-flex justify-content-center">
    <div class="p-2">

        <small>&copy; Copyright 2021</small>

    </div>


</div>